<?xml version="1.0" encoding="utf-8"?>
<config>
	<server uri="http://localhost:9200">
		<index indexName="log-{yyyyMM}" defaultMapping="default-mapping.json" >
			<log type="indexType" path="C:\logs\log-*.txt" />
		</index>
	</server>
</config>

<!--
<config>
	<server uri="http://localhost:9200" [isCluster="true|false"]>
		<index indexName="log-{yyyyMM}" [indexTemplate="indexTemplate.json"] [defaultEncoding="utf-8"] [defaultTtl="31d"] [defaultMapping="mapping.json"] >
			<log type="indexType" path="C:\logs\log-*.txt" [name="indexType"] [encoding="utf-8"] [ttl="31d"] [mapping="mapping.json"] [addSource="true"] [timestamp="@timestamp"]/>
		</index>
	</server>
</config>


-->
